<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>ASISGUARD</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-Nav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stockrequest">Stok Kodu Talebi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stok Kodu Güncelleme</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/stockapprovelist">Bekleyen Onaylarım</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myrequests" >Taleplerim</a>
        </li>
      </ul>
    
      </div>
    </div>
       <span class="navbar-text">Merhaba Sayın, {{request.user}}&nbsp&nbsp&nbsp </span>
        <span ><a  class="hello-msg" href="{% url 'logout' %}"> &nbsp Çıkış Yap </a></span>
  </div>
</nav>
</body>
</html>